htmml, body{
    height:100%;
    margin:0;
    padding:0;
    background:url("img/sandstone.jpg");
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 24px;
}

a{
    background-color: grey;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one 🙂       */
  display: flex;
  align-items: center;
}

.container{
    padding-top: 20px;
}

.img_container {
    max-width: 300px;
    height: 260px;
    border: 32px solid; 
    border-image: url("img/rocks.jpeg") 30 round;
    background-image: url('img/pic_bkg.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.prof_img {
    margin-left: -181px;
    margin-top:-108px;
    width: 576px;
    height: 308px;
}


.right_col_text{
    max-width: 750px;
    max-height: 277;
    min-width: 300px;
    display: flex;
    vertical-align: bottom;
    align-items: flex-end;    
}

.topics{
    padding-top: 30px;
    padding-bottom: 30px;
    display:flex;
    justify-content: center;

}

.btn-info{
    background-color: grey;
    border-color: grey;
    font-family: 'Hind Madurai', sans-serif;
}

.btn-space{
     margin: 8px;
}

.col-btn{
    width: 100px;
    color: white;
}

.spacer_row{
    height: 60px;
    width: 100%;
    
}
